<ion-view view-title="Dados da apólice">
  <ion-content style="background: #f2f2f2;">
    <div class="row">
      <div class="col">
        <ul>
          <li>GOL Rally 1.6 - 2015</li>
          <li>Carro placa - ABC-123</li>
          <li>01.022.431.508666.000000 - Apólice</li>
        </ul>
      </div>
      <div class="col">
        <button class="button button-large button-dark" style="line-height:1; border-radius: 10px">Gerenciar meus carros</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5>Fipe</h5>
        <span>out/2016</span>
      </div>
      <div class="col col-offset-50">
        <span>R$ <strong>55.000,55</strong></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5>Mensalidade</h5>
      </div>
      <div class="col col-offset-50">
        <span>R$ <strong>125,55</strong></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Franquia</h5>
      </div>
      <div class="col col-offset-50">
        <span>R$ <strong>1005,55</strong></span>
      </div>
    </div>
    <hr>
    <div class="row" ng-repeat="i in [1,2,3,4,5,15,13,16]">
      <div class="col">
        <span>Roube e Furto</span>
      </div>
      <div class="col col-offset-50">
        <span>100% FIPE</span>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-dark" ng-click="null">
    <div class="title">Configurar Coberturas</div>
  </div>
</ion-view>
