<ion-view view-title="Financeiro">
  <ion-content style="padding: 10px">
    <div class="row">
      <h3>Painel Financeiro</h3>
    </div>
    <div class="row">
      <p>
        Gerencie a sua forma de pagamento e apólices
      </p>
    </div>
    <div class="row">
      <h4>Formas de pagamento</h4>
    </div>
    <div class="row cards-cartao-credito-veiculos">
      <div>
        <div class="row">
          <h4>MASTERCARD 0398</h4>
        </div>
        <div class="row">
          <div class="col">
            <h6>NOME NO CARTAO DE CREDITO</h6>
            <p>LUIZ ASSIS F DE CARVALHO</p>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>DATA DE EXPIRAÇÃO</h6>
            <p>07/2021</p>
          </div>
          <div class="col">
            <h6>CEP DE COBRANÇA</h6>
            <p>32113-020</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Gerenciamento de apólice</h4>
    </div>
    <div class="row">
      <p>
        Selecione um veículo
      </p>
    </div>
    <div class="row">
      <ion-list>
        <div class="row">
          <div class="col col-20">
            <input type="radio" style="margin-top: 50%;"></input>
          </div>
          <div class="col col-90">
            <h4>Gol Rally 1.6 - 2015</h4>
            <p>
              Vence em - 20/12/2017
            </p>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="row">
      <p>
        O que você deseja fazer ?
      </p>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-outline button-stable">Renovar seguro</button>
      </div>
      <div class="col">
        <button class="button button-outline button-stable">Cancelar apólice</button>
      </div>
    </div>
  </ion-content>
</ion-view>
