<ion-view view-title="Acionamento Assistência">
  <ion-content>
    <div ng-repeat="i in [1,2,3]" class="cards-cartao-credito-veiculos" style="margin:10px">
      <div class="row" ng-click="self.openModalAssistencias()">
        <ion-list>
          <div class="row">
            <div class="col-10">
              <input type="radio" style="margin-top: 50%;"></input>
            </div>
            <div class="col">
              <h4>Gol Rally 1.6 - 2015</h4>
              <p>
                01.022.431.508666.000000 - Apólice
              </p>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;">
        <h5>Alguma dúvida?</h5>
      </div>
    </div>
    <div class="row">
      <a class="button button-full button-dark" ng-href="tel:0800000000" style="width: 100%; border-radius: 15px;">
        <div class="row">
          <div class="col">
            <i class="ion-ios-telephone-outline" style="font-size: 50px;"></i>
          </div>
          <div class="col">
            <div class="row"><strong>0800-000-000</strong></div>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
