<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Acionamento Assistência</h1>
    <button class="button" ng-click="self.closeModalDeslocamento()">Cancelar</button>
  </ion-header-bar>
  <ion-content style="padding: 10px">
    <div class="row" style="text-align: center">
      <div class="col">
        <h4>O carro está no endereço</h4>
      </div>
    </div>
    <div class="row cards-cartao-credito-veiculos" ng-click="self.openModalTempoEstimado()" style="margin-bottom: 10px">
      <div class="col">
        <div class="row">
          <div class="col-10" style="margin-left: 20%; margin-top: 10px;">
            <i class="ion-ios-location" style="margin-top: 2%; margin-right: 3%; font-size: 30px;"></i>
          </div>
          <div class="col">
            <h4>Localização Atual</h4>
          </div>

        </div>
      </div>
    </div>
    <div class="row cards-cartao-credito-veiculos">
      <div class="col" style="text-align: center;">
        <h4>Outro endereço</h4>
      </div>
    </div>
    <div class="row">
      <h4>Entre em contato para a gente te ajudar melhor!</h4>
    </div>
    <div class="row" style="border: 1px solid; padding: 20px;">
      <div class="col col-30">
        <h5>Serviço de Taxi</h5>
      </div>
      <div class="col col-30">
        <h5>Hospedagem</h5>
      </div>
      <div class="col col-30">
        <h5>Carro Reserva</h5>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <a class="button button-block button-dark" style="width: 100%;" ng-href="tel:0800000000">
        <div class="row">
          <div class="col">
            <i class="ion-ios-telephone-outline" style="font-size: 50px;"></i>
          </div>
          <div class="col">
            <div class="row"><strong>0800-000-000</strong></div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">
      <p>
        A Guarda do veículo é um serviço que será acionado em casos de reboque.
        Ela garante a proteção do seu carro e a indenização do seu bem material em casos de roubo ou furto, colisões ou incêndios.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
