<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">You!</h1>
    <button class="button" ng-click="self.gotoAcionamentoSeguro()">Fechar</button>
  </ion-header-bar>
  <ion-content>
    <div class="row" style="text-align: center">
      <div class="col">
        <h3>Assistência</h3>
        <span>Tempo estimado para atendimento</span>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col">
        <h4>Guincho</h4>
      </div>
    </div>
    <div class="row">
      <ng-map zoom="17" center="current-location" style="height: 180px;width: 100%;"></ng-map>
    </div>
    <div class="row">
      <div class="col" style="text-align: center; margin-top: 5%;">
        <i class="ion-clock" style="font-size: 50px"></i>
      </div>
      <div class="col" style="text-align: center; margin-top: 8%;">
        <h3>64 minutos</h3>
      </div>
      <div class="col" style="margin-top: 8%;">
        <button class="button button-medium button-dark" style="line-height: 1 !important;">Serviço concluido</button>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
          <i class="ion-image" style="font-size: 180px;"></i>
      </div>
      <div class="col">
      <div>
        <h5>Prestador</h5>
        <p>
          Guilherme Torres
        </p>
      </div>
      <div>
        <h5>Contato</h5>
        <p>
          31 98433-3201
        </p>
      </div>
      <div>
        <h5>Veículo</h5>
        <p>
          Moto - HHM-8792
        </p>
      </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
